DOCTYPE(html="html")
html(ng-app="test-models")
  head(lang="ru")
    meta(charset="UTF-8")
    title Angular Models Test
    script(type="text/javascript" src="/static/js/angular/angular.min.js")
    script(type="text/javascript" src="/static/js/sails.io.js/dist/sails.io.js")
    script(type="text/javascript" src="/static/js/angular-sails/dist/angular-sails.min.js")
    script(type="text/javascript" src="/app.js")
  body
    include ../templates/_simple
    include ../templates/_populate
    include ../templates/_link
