div.simple_actions(ng-controller='simple')
  h1 Базовые операции
  div(ng-if='!users.length')
  input(ng-model='newUser.name')
  input(ng-model='newUser.age')
  button.create_btn(href="" ng-click='create()') Create
  table(ng-if='users.length')
    tr(ng-repeat='user in users')
      td
        input(ng-model='user.name')
      td
        input(ng-model='user.age')
      td 
        button.update_btn(href="" ng-click='update(user)') Update
      td 
        button.delete_btn(href="" ng-click='delete(user)') Delete
  
