div.simple_actions(ng-controller='simple')
  h1 Базовые операции
  div(ng-if='!users.length')
  input(ng-model='newUser.name')
  input(ng-model='newUser.age')
  button.create_btn(href="" ng-click='create()') Create
  div
    button.find_one_by_age(ng-click='findOneByAge()') findOne
    button.find_by_age(ng-click='findByAge()') find
    button.reset_criteria(ng-click='resetCriteria()') reset
  table(ng-if='users.length')
    tr(ng-repeat='user in users')
      td
        input(ng-model='user.name')
      td
        input(ng-model='user.age')
      td 
        button.update_btn(href="" ng-click='update(user)') Update
      td 
        button.delete_btn(href="" ng-click='delete(user)') Delete
  
  div
    span(ng-bind='user.name')
    span(ng-bind='user.age')
